.subscribe-bg {
  max-width: 80%;
  border-radius: 15px;
  max-height: 800px;
  text-align: center;
  margin: auto;
  color: rgb(9, 10, 10);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-bottom: 30px;
  margin-top: 40px;
}


.subscribe-btn { 
  background: linear-gradient(45deg, rgb(189, 40, 177) 0%, rgb(171, 224, 65) 100%);
  padding: 9px;
  border-radius: 12px;
  margin-left: 8px;
  font-weight: bold;

}